<?xml version="1.0" encoding="UTF-8"?>
<!--+
    | Log4j2 configuration file.
    +-->
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--+
                | %class is the real class, %logger is the logger name
                +-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class (%logger):%line [%method]%n%msg%n" />
        </Console>
    </appenders>
    <Loggers>
        <Logger name="org.bremersee" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework.security" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- Hibernate logging options (INFO only shows startup messages) -->
        <!--
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <!-- If show_sql is not displayed -->
        <!--
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <!-- Log JDBC bind parameter runtime arguments -->
        <!--
        <Logger name="org.hibernate.type" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        -->
        <!-- Embedded MongoDB Logger -->
        <Logger name="org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongo" 
                level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</configuration>